OPENAI_API_KEY=api-key-here
OPENAI_CHAT_MODEL=gpt-4o-mini
OPENAI_EMB_MODEL=text-embedding-3-small

GATEWAY_API_KEY=api-key-here
GATEWAY_BASE_URL=https://ai-gateway.uni-paderborn.de/v1/
GATEWAY_CHAT_MODEL=gwdg.qwen3-30b-a3b-instruct-2507
GATEWAY_EMB_MODEL=embedding-model-name-here
GATEWAY_RPM=10
